@{
    ViewData["Title"] = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center; margin-bottom: 20px">References</h1>
<p style="text-align: center">
    <a href="https://www.collinsdictionary.com/dictionary/">https://www.collinsdictionary.com/dictionary/</a>
</p>
<p style="text-align: center">
    <a style="text-align: center" href="https://dictionary.cambridge.org/tr/s%C3%B6zl%C3%BCk/ingilizce-t%C3%BCrk%C3%A7e/">https://dictionary.cambridge.org/tr/s%C3%B6zl%C3%BCk/ingilizce-t%C3%BCrk%C3%A7e/</a><br />
</p>
<p style="text-align: center">
    <a style="text-align: center" href="https://kids.wordsmyth.net/we/">https://kids.wordsmyth.net/we/</a><br />
</p>
<p style="text-align: center">
    <a style="text-align: center" href="https://kids.britannica.com/kids/browse/dictionary">https://kids.britannica.com/kids/browse/dictionary</a><br />
</p>
<p style="text-align: center">
    <a style="text-align: center" href="https://www.learnersdictionary.com/">https://www.learnersdictionary.com/</a><br />
</p>